<!DOCTYPE html>

<html>
    <head>
        <title>TITLE HERE</title>

        <link href="https://unpkg.com/98.css" rel="stylesheet" type="text/css"/>

        <link href="../static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="../static/styles/burn.css" rel="stylesheet" type="text/css" />
        <link href="../static/styles/shredder.css" rel="stylesheet" type="text/css" />

        <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="static/styles/burn.css" rel="stylesheet" type="text/css" />
        <link href="static/styles/shredder.css" rel="stylesheet" type="text/css" />
    </head>

    <style>
        :root {
            --img: url('{{ url_for('static', filename=image_url) }}');
        }
    </style>

    <body>
        <div id="main-window" class="window" style="width: 320px; position:absolute; top:0; left:0; z-index:999999">
            <div class="window-body">
                <div class="shred-me">
              <button>Shred!</button></div>
            </div>
        </div>


        <div class="full_image_container">
            <div class="full_image">
                <img src="{{ url_for('static', filename=image_url) }}"/>
            </div>
        </div>
        <div class="shredded_container">
            <div id="strand-1" class="paper" style="--i:0; --width:3.5vh; --delay:1s; --duration:10s; --rx:3turn; --ry:2turn;     --offset:1vh;    --bgx:-0vh;"></div>
            <div id="strand-2" class="paper" style="--i:1; --width:3.5vh; --delay:1s; --duration:10s; --rx:2turn; --ry:1turn;     --offset:6vh;    --bgx:-3.875vh;"></div>
            <div id="strand-3" class="paper" style="--i:2; --width:3.5vh; --delay:1s; --duration:10s; --rx:4turn; --ry:2turn;     --offset:12vh;   --bgx:-7.714vh;"></div>
            <div id="strand-4" class="paper" style="--i:3; --width:3.5vh; --delay:1s; --duration:10s; --rx:3turn; --ry:1turn;     --offset:18vh;   --bgx:-11.57vh;"></div>
            <div id="strand-5" class="paper" style="--i:4; --width:3.5vh; --delay:1s; --duration:10s; --rx:5turn; --ry:1.5turn;   --offset:24vh;   --bgx:-15.428vh;"></div>
            <div id="strand-6" class="paper" style="--i:5; --width:3.5vh; --delay:1s; --duration:10s; --rx:3turn; --ry:2turn;     --offset:30vh;   --bgx:-19.285vh;"></div>
            <div id="strand-7" class="paper" style="--i:6; --width:3.5vh; --delay:1s; --duration:10s;  --rx:2.5turn; --ry:3turn;  --offset:36vh;   --bgx:-23.142vh;"></div>
            <div id="strand-8" class="paper" style="--i:7; --width:3.5vh; --delay:1s; --duration:10s; --rx:4turn; --ry:2.5turn;   --offset:42vh;   --bgx:-27vh;"></div>
        </div>    

        <script src="../static/scripts/index.js"></script> 

        <script src="static/scripts/burn.js"></script> 
        <script type="text/javascript" src="static/scripts/index.js"></script>
    </body>
</html>