<!DOCTYPE html>

<html>
    <head>
        <title>TITLE HERE</title>

        <link href="https://unpkg.com/98.css" rel="stylesheet" type="text/css"/>

        <link href="../static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="../static/styles/main.css" rel="stylesheet" type="text/css" />

        <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="static/styles/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <p>The BURNEY Page (check your wee)</p>

        
        <img src="{{ url_for('static', filename=image_url) }}" alt="Generated Image">      

        <script src="../static/scripts/main.js"></script> 

        <script src="static/scripts/main.js"></script> 
    </body>
</html>