<!DOCTYPE html>

<html>
    <head>
        <title>TITLE HERE</title>

        <link href="https://unpkg.com/98.css" rel="stylesheet" type="text/css"/>

        <link href="../static/styles/global.css" rel="stylesheet" type="text/css"/>
        <link href="../static/styles/burn.css" rel="stylesheet" type="text/css"/>

        <link href="static/styles/global.css" rel="stylesheet" type="text/css"/>
        <link href="static/styles/burn.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div id="main-content">

        <svg viewBox="0 0 300 300">
            <defs>
            <mask id="MASK" maskunits="userSpaceOnUse"
                        maskcontentunits="userSpaceOnUse">
                <image 
                xlink:href="https://media.giphy.com/media/tIwmTQ64D52XTuL8xd/giphy.gif" 
                height="100%"
                width="100%"/>
            </mask>      
            </defs>
            <g mask="url(#MASK)">
            <image x="0" y="0%" class="space" href="https://media.giphy.com/media/MXQnyEQwBJ6eTj90L5/giphy.gif" 
                height="100%" width="100%"/>
            </g>
        </svg>

        </div>

        <script src="../static/scripts/burn.js"></script> 

        <script src="static/scripts/burn.js"></script> 
    </body>
</html>