<!DOCTYPE html>

<html>
    <head>
        <title>shred ur problems</title>

        <link href="../static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="../static/styles/index.css" rel="stylesheet" type="text/css" />

        <link href="https://unpkg.com/98.css" rel="stylesheet" type="text/css"/>
        <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="static/styles/index.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div id="logo" class="window">
            <div class="window-body">
                <a href="/"></a>
            </div>
        </div>

        <!-- <p>BATH HACK '25</p> -->

        <!-- <img id="computer" src="static/assets/computer.png"> -->
        <div id="computer-wrapper">
            <div id="computer"></div>
            <div id="computer-background">
                <button id="start" onclick="go_to_main()">START</button>
            </div>
        </div>


        <!-- <button onclick="do_something()">CLICK ME</button> -->

        <script src="../static/scripts/index.js"></script> 

        <script src="static/scripts/index.js"></script> 
    </body>
</html>