<!DOCTYPE html>

<html>
    <head>
        <title>TITLE HERE</title>

        <link href="https://unpkg.com/98.css" rel="stylesheet" type="text/css"/>

        <link href="../static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="../static/styles/main.css" rel="stylesheet" type="text/css" />

        <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="static/styles/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <p>BATH HACK '25</p>

        <form action="/burn" method="get" class="form-example">
            <div class="form-example">
              <label for="name">Enter your name: </label>
              <input type="text" name="name" id="name" required />
            </div>
            <div class="form-example">
              <input type="submit" value="Subscribe!" />
            </div>
          </form>
          

        <script src="../static/scripts/main.js"></script> 

        <script src="static/scripts/main.js"></script> 
    </body>
</html>