<!DOCTYPE html>

<html>
    <head>
        <title>TITLE HERE</title>

        <link href="https://unpkg.com/98.css" rel="stylesheet" type="text/css"/>

        <link href="../static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="../static/styles/main.css" rel="stylesheet" type="text/css" />

        <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
        <link href="static/styles/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <form action="/burn" class="window" method="get" class="form-example" autocomplete="off">

            <div class="title-bar">
                <div class="title-bar-text">chris and jem.exe</div>
                <div class="title-bar-controls">
                  <button aria-label="Minimize"></button>
                  <button aria-label="Maximize"></button>
                  <button aria-label="Close"></button>
                </div>
              </div>

            <label id="title">top 5 things i hate</label>
            
            <div class="row">
              <label for="name">1</label>
              <input type="text" name="word1" id="name"/>
            </div>

            <div class="row">
                <label for="name">2</label>
                <input type="text" name="word2" id="name"/>
            </div>

            <div class="row">
                <label for="name">3</label>
                <input type="text" name="word3" id="name"/>
            </div>

            <div class="row">
                <label for="name">4</label>
                <input type="text" name="word4" id="name"/>
            </div>

            <div class="row">
                <label for="name">5</label>
                <input type="text" name="word5" id="name"/>
            </div>

            <div class="buttons">
                <button type="button" onclick="this.parentElement.parentElement.reset();">nah, forget it</button>
                <input type="submit" value="BURN!"/>
            </div>
        </form>
          

        <script src="../static/scripts/main.js"></script> 

        <script src="static/scripts/main.js"></script> 
    </body>
</html>